.table-data{
    width: 35%;
    padding-left:6% ;
    
}
.actual-table{
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
}
th, td {
    padding: 8px;
    text-align: left;

    border-collapse: collapse;
  }
.title{
    margin-left: 5%;
    font-size: 150%;
    color: blue;
    margin-bottom: 2%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.image{
    display: flex;
}
.image img{
    height: 10%;
    width: 10%;
}
.text{
    margin-left: 20%;
}